body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f2f5;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr {
    width: 50%;
    margin: 20px auto;
    border-top: 1px solid #ccc;
}

h1, h2 {
    font-weight: 700;
}

p {
    font-weight: 400;
    color: #333;
    text-decoration: none;
}

a {
    font-weight: 400;
    color: #007bff;
    text-decoration: none;
}

a:hover {
    color: #0056b3;
}

.fas, .fab {
    margin-right: 1px;
    color: inherit;
}

.icon-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 10px;
    color: #fff;
    font-size: 24px;
    transition: transform 0.3s ease;
}

.email-icon {
    background-color: #dd4b39;
}

.linkedin-icon {
    background-color: #0e76a8;
}

.icon-link:hover {
    transform: scale(1.1);
    color: #fff;
}

header, footer {
    background: linear-gradient(to right, #831bcd, #f9620b);
    color: #fff;
    padding: 40px 0;
    text-align: center;
    width: 100%;
}

section {
    padding: 20px;
    text-align: center;
    width: 80%;
    max-width: 800px;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    object-fit: cover;
}

.skills-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.skills-list li {
    list-style-type: none;
    background: #f0f2f5;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    animation: bounce 1s infinite alternate; /* Apply bounce animation */
}

form {
    margin: 20px auto;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    background: #fff;
    box-sizing: border-box;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
}

.form-group label {
    margin-bottom: 5px;
}

form input[type="text"], form input[type="email"], form textarea, form button {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px 0; /* Ensures vertical spacing */
}

form button {
    background-image: linear-gradient(to right, #831bcd, #f9620b);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

form button:hover {
    background-image: linear-gradient(to right, #f9620b, #831bcd);
}

@media only screen and (max-width: 768px) {
    .skills-list {
        flex-direction: column; /* Stacks skills vertically on smaller screens */
    }
}


@media only screen and (max-width: 480px) {
    header, footer {
        padding: 15px; /* Adjusts padding for smaller screens */
    }

    section, form {
        width: calc(100% - 20px); /* Adjusts width to ensure spacing on very small screens */
        margin: 10px auto;
    }

    .icon-link {
        width: 40px;
        height: 40px;
        margin: 0 5px; /* Adjusts icon size and spacing for smaller screens */
    }

    h1, h2 {
        font-size: 16px; /* Adjusts heading sizes for better readability on small devices */
    }
}


@keyframes bounce {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-10px);
    }
}


.horizontal-scroll {
    overflow-x: hidden; /* Hide any overflowing content */
    width: 100%; /* Occupy full width of the screen */
}

.icon-container {
    display: flex; /* Display icons in a row */
    animation: scrollAnimation 10s linear infinite; /* Adjust animation duration as needed */
    width: max-content; /* Make the container width fit its content */
}

.icon-container img {
    width: 60px; /* Adjust the width of icons as needed */
    height: 60px; /* Adjust the height of icons as needed */
    margin-right: 20px; /* Adjust margin between icons as needed */
}

@keyframes scrollAnimation {
    0% {
        transform: translateX(100vw); /* Start from the right edge of the viewport */
    }
    100% {
        transform: translateX(-100%); /* Move to the left edge */
    }
}

